{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{%- assign parts = page.content | strip | split: '<h3>' -%}
{%- assign tabCounter = 0 -%}

<div class="accordion-block"
     id="{{ page.title }}">

  {%- for part in parts -%}
    {%- if part contains '</h3>' -%}
      {%- assign tabCounter = tabCounter | plus: 1 -%}
      {%- assign tab_parts = part | split: "</h3>" -%}

      <div class="accordion">
        <div class="qa">
          <details>
            <summary>
              <div class="accordion__title-wrapper">
                <span>{% render 'icon-plus' %} {% render 'icon-minus' %}</span>
                <h3 class="accordion__title">{{ tab_parts | first | strip_html }}</h3>
              </div>
            </summary>
            <ul class="list-unstyled">
              <li>
                <div
                    class="rte">
                  {{ tab_parts | last }}
                </div>
              </li>
            </ul>
          </details>
        </div>
      </div>

    {% endif %}
  {% endfor %}
</div>

