 {% style %}
     @font-face {
        font-family: 'GT-Flexa';
        src: url( '{{ "GT-Flexa-Standard-Regular.woff" | asset_url }}' ) format('woff'),
        url( '{{ "GT-Flexa-Standard-Regular.woff2" | asset_url }}' ) format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'GT-Flexa';
        src: url( '{{ "GT-Flexa-Extended-Bold.woff" | asset_url }}' ) format('woff'),
        url( '{{ "GT-Flexa-Extended-Bold.woff2" | asset_url }}' ) format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'PurposeKind';
        src: url( '{{ "purposekind-webfont.woff2"| asset_url }}' ) format('woff2'),
             url( '{{ "purposekind-webfont.woff" | asset_url }}' ) format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
      {% comment %}
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
      {% endcomment %}

        --font-body-family: 'GT-Flexa', {{ settings.type_body_font.fallback_families }};
        --font-body-style: normal;
        --font-body-weight: 400;

        --font-heading-family: 'GT-Flexa', {{ settings.type_header_font.fallback_families }};
        --font-heading-style: normal;
        --font-heading-weight: 700;

       --font-extra-family: 'PurposeKind', serif;
       --font-extra-style: normal;
       --font-extra-weight: 400;

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-base-text: {{ settings.colors_text | color_extract: 'red' }}, {{ settings.colors_text | color_extract: 'green' }}, {{ settings.colors_text | color_extract: 'blue' }};
        --color-base-background-1: {{ settings.colors_background_1 | color_extract: 'red' }}, {{ settings.colors_background_1 | color_extract: 'green' }}, {{ settings.colors_background_1 | color_extract: 'blue' }};
        --color-base-background-2: {{ settings.colors_background_2 | color_extract: 'red' }}, {{ settings.colors_background_2 | color_extract: 'green' }}, {{ settings.colors_background_2 | color_extract: 'blue' }};
        --color-base-background-3: {{ settings.colors_background_3 | color_extract: 'red' }}, {{ settings.colors_background_3 | color_extract: 'green' }}, {{ settings.colors_background_3 | color_extract: 'blue' }};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels | color_extract: 'red' }}, {{ settings.colors_solid_button_labels | color_extract: 'green' }}, {{ settings.colors_solid_button_labels | color_extract: 'blue' }};
        --color-base-outline-button-labels: {{ settings.colors_outline_button_labels | color_extract: 'red' }}, {{ settings.colors_outline_button_labels | color_extract: 'green' }}, {{ settings.colors_outline_button_labels | color_extract: 'blue' }};
        --color-base-accent-1: {{ settings.colors_accent_1 | color_extract: 'red' }}, {{ settings.colors_accent_1 | color_extract: 'green' }}, {{ settings.colors_accent_1 | color_extract: 'blue' }};
        --color-base-accent-2: {{ settings.colors_accent_2 | color_extract: 'red' }}, {{ settings.colors_accent_2 | color_extract: 'green' }}, {{ settings.colors_accent_2 | color_extract: 'blue' }};
        --color-base-accent-3: {{ settings.colors_accent_3 }};
        --payment-terms-background-color: {{ settings.colors_background_1 }};

        --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};
        --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}{{ settings.gradient_background_2 }}{% else %}{{ settings.colors_background_2 }}{% endif %};
        --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{ settings.colors_accent_1 }}{% endif %};
        --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};
        --gradient-base-accent-3: {{ settings.colors_accent_3 }};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }

    {% endstyle %}
