<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-long-arrow" viewBox="0 0 35.38 12.78">
  <path d="M35.12,7a.86.86,0,0,0,0-1.22L29.6.25a.89.89,0,0,0-1.23,0,.87.87,0,0,0,0,1.23l4.91,4.91L28.37,11.3a.86.86,0,0,0,0,1.22.87.87,0,0,0,1.23,0ZM0,7.26H34.51V5.52H0Z" fill="currentColor"/>
</svg>
