<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-email" viewBox="0 0 17.01 12.76"><path d="M15.41,0H1.59A1.59,1.59,0,0,0,0,1.59v9.57a1.6,1.6,0,0,0,1.59,1.6H15.41a1.6,1.6,0,0,0,1.6-1.6V1.59A1.6,1.6,0,0,0,15.41,0Zm0,1.59V3c-.74.61-1.93,1.55-4.47,3.54C10.38,6.93,9.27,8,8.5,8s-1.88-1-2.44-1.48C3.53,4.5,2.34,3.56,1.59,3V1.59ZM1.59,11.16V5L5.08,7.74c.73.57,2,1.83,3.42,1.83s2.68-1.24,3.43-1.83L15.41,5v6.16Z" style="fill:#fff"/></svg>
