<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" fill="none" viewBox="0 0 20 13.25">
  <line y1="0.75" x2="20" y2="0.75" style="fill:none;stroke-width:1.5px" stroke="currentColor"/>
  <line y1="6.63" x2="20" y2="6.63" style="fill:none;stroke-width:1.5px" stroke="currentColor"/>
  <line y1="12.5" x2="20" y2="12.5" style="fill:none;stroke-width:1.5px" stroke="currentColor"/>
</svg>
