{% if klaviyo %}
  <div class="newsletter-form {% if klaviyo_snippet_m != blank %}small-hide medium-hide{% endif %}">
    {{ klaviyo_snippet }}
  </div>
  {% if klaviyo_snippet_m != blank %}
    <div class="newsletter-form mobile large-up-hide">
      {{ klaviyo_snippet_m }}
    </div>
  {% endif %}
{% else %}
{% form 'customer', class: 'newsletter-form' %}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="newsletter-form__field-wrapper">
    <div class="field">
      <input
          id="NewsletterForm--{{ section.id }}"
          type="email"
          name="contact[email]"
          class="field__input"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="ContactFooter-error"
            {% elsif form.posted_successfully? %}
            aria-describedby="ContactFooter-success"
          {% endif %}
          placeholder="{{ 'newsletter.email' | t }}"
          required
      >
      <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}">
        {{ 'newsletter.email' | t }}
      </label>
    </div>
    <div class="phone-action">
      <div class="field">
        <input
            id="NewsletterForm--{{ section.id }}-phone"
            type="phone"
            name="contact[phone]"
            class="field__input"
            value="{% if form.phone %}{{ form.phone }}{% endif %}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
              aria-describedby="ContactFooter-success"
            {% endif %}
            placeholder="{{ 'newsletter.phone' | t }}"
            required
        >
        <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}-phone">
          {{ 'newsletter.phone' | t }}
        </label>
      </div>
      <div class="actions">
        <button type="submit" class="button newsletter-form__button" name="commit" id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}">{{ 'newsletter.button_label' | t }}
        </button>
      </div>
    </div>

    {%- if form.errors -%}
      <small class="newsletter-form__message form__message"
             id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
  </div>
  <div class="checkbox-holder">
    <label><input type="checkbox" name="accept">
    {{ 'newsletter.checkbox' | t }}</label>
  </div>
  {%- if form.posted_successfully? -%}
    <h3 class="newsletter-form__message newsletter-form__message--success form__message"
        id="Newsletter-success--{{ section.id }}" tabindex="-1"
        autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
  {%- endif -%}
{% endform %}
{% endif %}
