<link rel="preload" href="{{ "GT-Flexa-Extended-Bold.woff2" | asset_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "GT-Flexa-Standard-Regular.woff2" | asset_url }}" as="font" type="font/woff2" crossorigin>
