<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{% assign article = section.settings.article %}
<div class="featured-post">
  <div class="page-width">
    <article class="article-card featured" aria-labelledby="Article-{{ article.id }}">
      <a href="{{ article.url }}" class="article-content motion-reduce">
        <header class="article-card__header medium-hide large-up-hide">
          <h2 class="article-card__title extra h3" id="Article-{{ article.id }}">
            {{ article.title | escape }}
          </h2>
        </header>
        <div class="grid grid--1-col grid--3-col-desktop">
          {%- if article.image -%}
            <div class="grid__item col-2 article-card__image-wrapper">
              <div class="article-card__image media {% if image_height %}article-card__image--{{ image_height }}{% else %}media--landscape{% endif %}" {% if section.settings.image_height == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                <img
                    srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
              {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
              {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
              {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
              {%- if article.image.src.width >= 1000 -%}{{ article.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
              {%- if article.image.src.width >= 1500 -%}{{ article.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ article.image.src | img_url: 'master' }} {{ article.image.src.width }}w"
                    src="{{ article.image.src | img_url: '533x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ article.image.src.alt | escape }}"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    loading="lazy"
                    class="motion-reduce"
                >
              </div>
            </div>
            <div class="grid__item">
              <div class="article-card__info">
                <header class="article-card__header small-hide">
                  <h2 class="article-card__title extra h3" id="Article-{{ article.id }}">
                    {{ article.title | escape }}
                  </h2>
                </header>
                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                  <p class="article-card__excerpt rte-width">
                    {%- if article.excerpt.size > 0 -%}
                      {{ article.excerpt | strip_html | truncatewords: 30 }}
                    {%- else -%}
                      {{ article.content | strip_html | truncatewords: 30 }}
                    {%- endif -%}
                  </p>
                {%- endif -%}
                {%- if section.settings.show_date -%}
                  <span class="circle-divider caption-with-letter-spacing">
                    {{- article.published_at | time_tag: format: 'day_month_year' -}}
                  </span>
                {%- endif -%}
              </div>
            </div>
          {% endif %}
        </div>
      </a>
    </article>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-post.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "t:sections.featured-post.settings.article.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-post.settings.show_date.label"
    }
  ]
}
{% endschema %}
