{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer-block--newsletter">
      {%- if section.settings.newsletter_enable -%}
        <div class="footer-block__newsletter page-width--narrow">
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class="h1">{{ section.settings.newsletter_heading | escape }}</h2>
          {%- endif -%}
          {% render 'mini-newsletter',
              klaviyo: section.settings.klaviyo,
              klaviyo_snippet: section.settings.klaviyo_snippet,
              klaviyo_snippet_m: section.settings.klaviyo_snippet_m
          %}
        </div>
      {%- endif -%}
    </div>
    <div class="footer__content-top color-{{ section.settings.color_scheme }}">
      <div class="page-width">
        <div class="grid grid--2-col-desktop">
          <div class="grid__item">
            <div
                class="footer__blocks-wrapper">
              {%- for link in linklists[section.settings.menu].links -%}
                <div
                    class="footer-block footer-block--menu" {{ block.shopify_attributes }}>
                  {%- if link.url == blank -%}
                    <h2 class="footer-block__heading h3">{{- link.title | escape -}}</h2>
                  {% else %}
                    <h2 class="footer-block__heading h3"><a href="{{ link.url }}"
                                                            class="link link--text list-menu__item list-menu__item--link">
                        {{ link.title }}
                      </a></h2>

                    {%- if link.links != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for childlink in link.links -%}
                          <li>
                            <a href="{{ childlink.url }}"
                               class="link link--text list-menu__item list-menu__item--link {% if childlink.active %} list-menu__item--active{% endif %}">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>


                    {%- endif -%}

                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
          <div class="grid__item">
            <div class="footer__blocks-wrapper__icons">
              {%- if section.settings.show_social -%}
                <ul class="footer__list-social list-unstyled list-social" role="list">
                  {%- if settings.social_twitter_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
                        {%- render 'icon-twitter' -%}
                        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_facebook_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
                        {%- render 'icon-facebook' -%}
                        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_pinterest_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
                        {%- render 'icon-pinterest' -%}
                        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_instagram_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
                        {%- render 'icon-instagram' -%}
                        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_tiktok_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
                        {%- render 'icon-tiktok' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_discord_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_discord_link }}" class="link list-social__link">
                        {%- render 'icon-discord' -%}
                        <span class="visually-hidden">{{ 'general.social.links.discord' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_tumblr_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
                        {%- render 'icon-tumblr' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_snapchat_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
                        {%- render 'icon-snapchat' -%}
                        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_youtube_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
                        {%- render 'icon-youtube' -%}
                        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_vimeo_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
                        {%- render 'icon-vimeo' -%}
                        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              {%- endif -%}
              <div class="footer__column footer__column--info">
                <div class="footer__copyright caption">
                  {% if section.settings.copyright != blank %}
                    <h3 class="copyright__content">
                      &copy; {{ section.settings.copyright }}</h3>
                  {% else %}
                  <h3 class="copyright__content">
                    &copy; {{ shop.name | link_to: routes.root_url | upcase }} {{ 'now' | date: "%Y" }}</h3>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.footer.settings.link_list.name",
      "info": "t:sections.footer.settings.link_list.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "checkbox",
      "id": "klaviyo",
      "label": "t:sections.footer.settings.klaviyo.label"
    },
    {
      "type": "textarea",
      "id": "klaviyo_snippet",
      "label": "t:sections.footer.settings.klaviyo_snippet.label"
    },
    {
      "type": "textarea",
      "id": "klaviyo_snippet_m",
      "label": "t:sections.footer.settings.klaviyo_snippet_m.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "t:sections.footer.settings.copyright.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ]
}
{% endschema %}
