<script>
  document.addEventListener("DOMContentLoaded", function() {
    var rellax = new Rellax('.four-pic-collage-{{ section.id }} .rellax');
  });
</script>

<div class="four-pic-collage four-pic-collage-{{ section.id }}">
  <div class="page-width no-hidden">

    <div class="four-pic-collage__container">

      <div class="four-pic-collage__content">
        <div class="content-sticky">
          <h2 class="four-pic-collage__heading h4 inline-text{% if section.settings.sticky %} sticky{% endif %}">{{ section.settings.title }}</h2>
        </div>
        <h2 class="four-pic-collage__heading h4 legend-text small-hide">{{ section.settings.subtitle }}</h2>
      </div>


      <div class="grid grid--1-col grid--2-col-desktop">
        {%- for block in section.blocks -%}
          {%- if block.settings.image != blank -%}
            <div class="grid__item">
              <div
                  class="four-pic-collage__media media{% if block.settings.image == blank %} placeholder{% endif %}">

                <img
                    srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                      {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                      {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                      {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                      {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                    src="{{ block.settings.image | img_url: '550x' }}"
                    sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                      (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                      calc(100vw - 30px)"
                    alt="{{ block.settings.image.alt }}"
                    height="{{ block.settings.image.height }}"
                    width="{{ block.settings.image.width }}"
                    loading="lazy"
                >

              </div>
            </div>
          {%- endif -%}
        {% endfor %}
      </div>

    </div>
    <div class="four-pic-collage__content-mob medium-hide large-up-hide">
      <h2 class="four-pic-collage__heading h4 legend-text">{{ section.settings.subtitle }}</h2>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.four-collage.name",
  "class": "spaced-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "FOR ALL KIND TO THRIVE—",
      "label": "t:sections.four-collage.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "t:sections.four-collage.settings.sticky.label",
      "default": true
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "FOR ANIMALS, HUMANS, PLANTS, FUNGI",
      "label": "t:sections.four-collage.settings.subtitle.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.four-collage.blocks.column.name",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.four-collage.blocks.column.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.four-collage.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
