{{ 'pages.css' | asset_url | stylesheet_tag }}

<div class="pages page-content glossary">
  <div class="page-width">
    <div class="rte">
      {% render 'accordion-block', page_content: page.content %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.glossary.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
  ]
}
{% endschema %}
