{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var rellax = new Rellax('.parallax-{{ section.id }} .rellax');
    var rellaxH = new Rellax('.parallax-{{ section.id }} .rellax_h', {
      horizontal: true,
      relativeToWrapper: true,
      wrapper: "#shopify-section-{{ section.id }}"
    });
  });
</script>

<div class="image-with-text image-with-text--full-width parallax parallax-{{ section.id }}">
  <div class="image-with-text__grid color-{{ section.settings.color_scheme }} grid grid--gapless grid--1-col grid--2-col-tablet {% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
    <div class="grid__item">
      <div class="image-with-text__media relative image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        {%- if section.settings.image != blank -%}
          <div class="rellax image-not-centered small-hide" data-rellax-speed="-3" data-rellax-percentage="0.5">
            <img
                srcset="{%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | img_url: '1500x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}"
            >
          </div>
          <div class="rellax_h image-centered medium-hide large-up-hide" data-rellax-vertical-speed="0" data-rellax-percentage="0.5" data-rellax-horizontal-speed="-2" data-rellax-vertical-scroll-axis="x" >
            <img
                srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | img_url: '1500x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}"
            >
          </div>
        {%- else -%}
        <div class="image-not-centered">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        {%- endif -%}
      </div>
    </div>
    <div class="grid__item relative">
      <div class="rellax gradient block-background small-hide" data-rellax-speed="2" data-rellax-percentage="0.5" {% if section.settings.color_overwrite != blank %}style="background:{{ section.settings.color_overwrite }};" {% endif %} ></div>
      <div class="gradient block-background medium-hide large-up-hide" {% if section.settings.color_overwrite != blank %}style="background:{{ section.settings.color_overwrite }};" {% endif %}></div>
      <div class="image-with-text__content image-with-text__content--{{ section.settings.height }}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'svg' -%}
              <div class="svg-container {% if forloop.first %}top{% endif %} ">
                <img class="{% if block.settings.rotating %}rotating{% endif %}"
                    src="{{ block.settings.logo | file_url }}"
                    alt="{{ block.settings.alt | escape }}"
                    loading="lazy"
                >
              </div>
            {%- when 'heading' -%}
              <h2 class="image-with-text__heading {{ block.settings.size }} {% if block.settings.extra_font %}extra{% endif %}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'text' -%}
              <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-text-parallax.name",
  "class": "spaced-section spaced-section--big",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-text-parallax.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-text-parallax.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-text-parallax.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-text-parallax.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-text-parallax.settings.height.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__5.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.image-text-parallax.settings.color_scheme.options__6.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-text-parallax.settings.color_scheme.label"
    },
    {
      "type": "color",
      "id": "color_overwrite",
      "label": "t:sections.image-text-parallax.settings.color_overwrite.label",
      "info": "t:sections.image-text-parallax.settings.color_overwrite.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-text-parallax.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-text-parallax.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-text-parallax.settings.layout.label",
      "info": "t:sections.image-text-parallax.settings.layout.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-text-parallax.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-text-parallax.blocks.heading.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "extra_font",
          "default": false,
          "label": "t:sections.image-text-parallax.blocks.heading.settings.type.label"
        },
        {
          "type": "select",
          "id": "size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.image-text-parallax.blocks.heading.settings.size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:sections.image-text-parallax.blocks.heading.settings.size.options__2.label"
            },
            {
              "value": "h4",
              "label": "t:sections.image-text-parallax.blocks.heading.settings.size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.image-text-parallax.blocks.heading.settings.size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-text-parallax.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-text-parallax.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "svg",
      "name": "t:sections.image-text-parallax.blocks.svg.name",
      "settings": [
        {
          "type": "text",
          "id": "logo",
          "info": "t:sections.image-text-parallax.blocks.svg.settings.text.info",
          "label": "t:sections.image-text-parallax.blocks.svg.settings.text.label"
        },
        {
          "type": "text",
          "id": "alt",
          "info": "t:sections.image-text-parallax.blocks.svg.settings.alt.info",
          "label": "t:sections.image-text-parallax.blocks.svg.settings.alt.label"
        },
        {
          "type": "checkbox",
          "id": "rotating",
          "info": "t:sections.image-text-parallax.blocks.svg.settings.rotating.info",
          "label": "t:sections.image-text-parallax.blocks.svg.settings.rotating.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-text-parallax.presets.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
