{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.settings.video != blank
  assign video = true
  assign video_link = section.settings.video
  endif
  assign img = section.settings.image
%}

<div class="image-with-quotes" id="quotes-{{ section.id }}">
  <div class="page-width">
    <div class="image-with-quotes__container">

      {%- if img != blank -%}
        <div class="image-with-quotes__media media {% if img == blank  %} placeholder{% endif %}">
          {% if video %}
            <video-wrapper>
              {% if video_link != blank %}
                <video playsinline autoplay loop muted
                       {% if img %}aria-label="{{ img.alt }}" poster="{{ img | img_url: '1780x' }}" {% endif %}
                       class="video-all video-frame">
                  <source data-src="{{ video_link }}" src="" type="video/mp4">
                  <img src="{{ img | img_url: '1780x' }}" loading="lazy" width="{{ img.width }}"
                       height="{{ img.height }}">
                </video>
              {% endif %}
            </video-wrapper>
          {% endif %}

          {% if video == blank %}
            <img
                srcset="{%- if img.width >= 375 -%}{{ img | img_url: '375x' }} 375w,{%- endif -%}
            {%- if img.width >= 750 -%}{{ img | img_url: '750x' }} 750w,{%- endif -%}
            {%- if img.width >= 1100 -%}{{ img | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if img.width >= 1500 -%}{{ img | img_url: '1500x' }} 1500w,{%- endif -%}"
                sizes="(min-width: 750px) 50vw, 100vw"
                src="{{ img | img_url: '1900x' }}"
                loading="lazy"
                alt="{{ img.alt | escape }}"
                width="{{ img.width }}"
                height="{{ img.width | divided_by: img.aspect_ratio }}"
            >
          {% endif %}

        </div>
      {%- endif -%}

      <div
          class="image-with-quotes__content">
        <h2 class="image-with-quotes__heading h4">{{ section.settings.caption }}</h2>
        <div class="image-with-quotes__text">{{ section.settings.signature }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-quotes.name",
  "class": "spaced-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-quotes.settings.image.label"
    },
    {
      "type": "text",
      "id": "video",
      "label": "t:sections.image-quotes.settings.video.label",
      "info": "t:sections.image-quotes.settings.video.info"
    },
    {
      "type": "richtext",
      "id": "caption",
  "default": "<p>Lorem ipsum dolor.</p>",
      "label": "t:sections.image-quotes.settings.caption.label"
    },
    {
      "type": "text",
      "id": "signature",
      "default": "Name or signature",
      "label": "t:sections.image-quotes.settings.signature.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-quotes.name"
    }
  ]
}
{% endschema %}
