{% liquid
  if section.settings.video_mobile != blank
    assign video_mobile = true
    assign video_link_mobile = section.settings.video_mobile
  endif
  if section.settings.video != blank
    assign video = true
    assign video_link = section.settings.video
  endif

  assign img = section.settings.image
  assign img_mobile = section.settings.image_mobile

%}
<div id="Banner-{{ section.id }}" class="main-banner banner">
  {%- if img != blank -%}
    <div class="banner__media media{% if img == blank  %} placeholder{% endif %}">
      {% if video %}
      <video-wrapper>
        {% if video_link != blank and video_link_mobile != blank %}
          <video playsinline autoplay loop muted
            {% if img %}aria-label="{{ img.alt }}" poster="{{ img | img_url: '1780x' }}" {% endif %}
            class="small-hide">
            <source data-desktop-src="{{ video_link }}" src="" type="video/mp4">
            <img src="{{ img | img_url: '1780x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
          </video>
        {% endif %}
        {% if video_link_mobile != blank %}
          <video playsinline autoplay loop muted
                 {% if img %}aria-label="{{ img_mobile.alt }}" poster="{{ img_mobile | img_url: '750x' }}" {% endif %}
                 class="medium-hide large-up-hide">
            <source data-mobile-src="{{ video_link_mobile }}" src="" type="video/mp4">
            <img src="{{ img_mobile | img_url: '750x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
          </video>
        {% endif %}
        {% if video_link != blank and video_link_mobile == blank %}
          <video playsinline autoplay loop muted
                 {% if img %}aria-label="{{ img.alt }}" poster="{{ img | img_url: '1780x' }}" {% endif %}
                 class="video-all">
            <source data-src="{{ video_link }}" src="" type="video/mp4">
            <img src="{{ img | img_url: '1780x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
          </video>
        {% endif %}
        </video-wrapper>
      {% endif %}
      {% if video == blank %}
        <div class="img-wrapper {% if img_mobile != blank %}small-hide medium-hide{% endif %}">
          <div class="img-holder">
            <img
              srcset="{%- if img.width >= 375 -%}{{ img | img_url: '375x' }} 375w,{%- endif -%}
                {%- if img.width >= 750 -%}{{ img | img_url: '750x' }} 750w,{%- endif -%}
                {%- if img.width >= 1100 -%}{{ img | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if img.width >= 1500 -%}{{ img | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if img.width >= 1780 -%}{{ img | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if img.width >= 2000 -%}{{ img | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if img.width >= 3000 -%}{{ img | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if img.width >= 3840 -%}{{ img | img_url: '3840x' }} 3840w,{%- endif -%}"
              sizes="(min-width: 750px) 50vw, 100vw"
              src="{{ img | img_url: '1900x' }}"
              loading="lazy"
              alt="{{ img.alt | escape }}"
              width="{{ img.width }}"
              height="{{ img.width | divided_by: img.aspect_ratio }}"
            >
          </div>
        </div>
      {% endif %}
      {% if video == blank and video_mobile == blank %}
        <div class="img-wrapper large-up-hide">
          <div class="img-holder">
          {% if img_mobile != blank %}
            <img
                srcset="{%- if img_mobile.width >= 375 -%}{{ img_mobile | img_url: '375x' }} 375w,{%- endif -%}
              {%- if img_mobile.width >= 750 -%}{{ img_mobile | img_url: '750x' }} 750w,{%- endif -%}
              {%- if img_mobile.width >= 1100 -%}{{ img_mobile | img_url: '1100x' }} 1100w,{%- endif -%}"
                sizes="(min-width: 60rem) 80vw, 100vw"
                src="{{ img_mobile | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ img_mobile.alt | escape }}"
                width="{{ img_mobile.width }}"
                height="{{ img_mobile.width | divided_by: img_mobile.aspect_ratio }}"
            >
          {% endif %}
          </div>
        </div>
        {% endif %}
    </div>
  {%- endif -%}
  <div class="banner__content page-width" style="align-items: {{ section.settings.desktop_text_box_position }}; justify-content: {{ section.settings.desktop_text_box_position_horizontal }}">
    <div class="banner__box text-{{ section.settings.text_align_mobile }} md:text-{{ section.settings.text_align }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {% if block.settings.use_font %}extra{% endif %} {{ block.settings.heading_size }}" style="color:{{ block.settings.colour }};" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "t:sections.main-banner.name",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-banner.settings.image.label",
      "info": "t:sections.main-banner.settings.image.info"
    },
    {
      "type": "text",
      "id": "video",
      "label": "t:sections.main-banner.settings.video.label",
      "info": "t:sections.main-banner.settings.video.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.main-banner.settings.image_mobile.label",
      "info": "t:sections.main-banner.settings.image_mobile.info"
    },
    {
      "type": "text",
      "id": "video_mobile",
      "label": "t:sections.main-banner.settings.video_mobile.label",
      "info": "t:sections.main-banner.settings.video_mobile.info"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.main-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.main-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-banner.settings.desktop_text_box_position.label"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position_horizontal",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.main-banner.settings.desktop_text_box_position_horizontal.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-banner.settings.desktop_text_box_position_horizontal.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.main-banner.settings.desktop_text_box_position_horizontal.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-banner.settings.desktop_text_box_position_horizontal.label"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-banner.settings.text_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-banner.settings.text_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-banner.settings.text_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-banner.settings.text_align.label"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-banner.settings.text_align_mobile.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-banner.settings.text_align_mobile.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-banner.settings.text_align_mobile.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-banner.settings.text_align_mobile.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.main-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.main-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "use_font",
          "default": false,
          "label": "t:sections.main-banner.blocks.heading.settings.use_font.label"
        },
        {
          "type": "color",
          "id": "colour",
          "label": "t:sections.main-banner.blocks.heading.settings.colour.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.main-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.main-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.main-banner.blocks.heading.settings.heading_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
