{{ 'pages.css' | asset_url | stylesheet_tag }}

{% if section.settings.hide_content == false %}
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="page-width">
    <div class="main-page pages page-content">
      <h1 class="main-page-title page-title h1">
        {{ page.title | escape }}
      </h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_content",
      "label": "t:sections.main-page.settings.hide_content.label"
    }
  ]
}
{% endschema %}
