{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="multicolumn{% if section.settings.swipe_on_mobile %} with-slider{% endif %} background-none{% if section.settings.title == blank %} no-heading{% endif %}" id="Multicolumn-{{ section.id }}">
  <div class="page-width {% if section.settings.swipe_on_desktop and section.blocks.size > 3 %}no-hidden has-slider{% endif %}">
    <slider-component class="slider-mobile-gutter {% if section.settings.swipe_on_desktop and section.blocks.size > 3 %}slide-peek{% endif %}">
      <ul class="multicolumn-list grid grid--1-col
          {% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop
            {% elsif section.blocks.size > 3 and section.settings.image_width == 'full' and section.settings.swipe_on_desktop == false %} grid--2-col-tablet
            {% else %} grid--3-col-tablet grid--3-col-desktop
          {% endif %}
          {% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}
          {% if section.settings.swipe_on_desktop and section.blocks.size > 3 %} slider slider--desktop{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
            if block.settings.image_mobile.aspect_ratio > highest_ratio
              assign highest_ratio_mobile = block.settings.image_mobile.aspect_ratio
            endif
          endfor
        -%}
        <style>
            #Multicolumn-{{ section.id }} .adapt_image {
            {% if highest_ratio_mobile == blank %}
                padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;
            {% else %}
                padding-bottom: {{ 1 | divided_by: highest_ratio_mobile | times: 100 }}%;
            {% endif %}
            }

            @media screen and (min-width: 750px) {
                #Multicolumn-{{ section.id }} .adapt_image {
                    padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;
                }
            }
        </style>
        {%- for block in section.blocks -%}
          <li class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }}>
            <div class="multicolumn-card">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div class="media media--transparent media--{{ section.settings.image_ratio }} {% if section.settings.image_ratio == 'adapt' %}adapt_image{% endif %}">
                    <img
                        srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                        {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                        src="{{ block.settings.image | img_url: '550x' }}"
                        sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                        alt="{{ block.settings.image.alt }}"
                        {% if block.settings.image_mobile != blank %}class="small-hide medium-hide" {% endif %}
                        height="{{ block.settings.image.height }}"
                        width="{{ block.settings.image.width }}"
                        loading="lazy"
                    >
                    {% if block.settings.image_mobile != blank %}
                      {% assign img_mobile = block.settings.image_mobile %}
                      <img
                          srcset="{%- if img_mobile.width >= 375 -%}{{ img_mobile | img_url: '375x' }} 375w,{%- endif -%}
                          {%- if img_mobile.width >= 750 -%}{{ img_mobile | img_url: '750x' }} 750w,{%- endif -%}
                          {%- if img_mobile.width >= 1100 -%}{{ img_mobile | img_url: '1100x' }} 1100w,{%- endif -%}"
                          sizes="(min-width: 60rem) 80vw, 100vw"
                          src="{{ img_mobile | img_url: '1500x' }}"
                          loading="lazy"
                          alt="{{ img_mobile.alt | escape }}"
                          width="{{ img_mobile.width }}"
                          class="large-up-hide"
                          height="{{ img_mobile.width | divided_by: img_mobile.aspect_ratio }}"
                      >
                    {% endif %}
                  </div>
                  {%- if block.settings.hover_text != blank -%}
                    <div class="multicolumn-card__hover-text">
                      <h3 class="h4">{{ block.settings.hover_text | escape }}</h3>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if block.settings.title != blank -%}
                  <h3 class="h5">{{ block.settings.title | escape }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a class="link animate-arrow" {% if block.settings.link == blank %}role="link" aria-disabled="true"
                     {% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_label | escape }}<span
                        class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile or section.settings.swipe_on_desktop-%}
        <div class="slider-buttons no-js-hidden {% if section.settings.swipe_on_desktop == false and section.blocks.size < 4 %}medium-hide{% endif %}{% if section.blocks.size < 2 or section.settings.swipe_on_mobile == false %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter--nav">
            {%- for i in (1..8) -%}
              <span class="slider-counter--dot dot-{{ forloop.index }}"><span class="visibility-hidden">{{ forloop.index }}</span></span>
            {%- endfor -%}
          </div>
          <div class="slider-counter hidden caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif-%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "spaced-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_desktop",
      "default": false,
      "info": "t:sections.multicolumn.settings.swipe_on_desktop.info",
      "label": "t:sections.multicolumn.settings.swipe_on_desktop.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.main-banner.settings.image_mobile.label",
          "info": "t:sections.main-banner.settings.image_mobile.info"
        },
        {
          "type": "text",
          "id": "title",
          "default": "STORIES",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "hover_text",
          "default": "HOVER TEXT",
          "label": "t:sections.multicolumn.blocks.column.settings.hover_text.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
