{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

<div class="newsletter newsletter-mini color-accent-1" {{ section.shopify_attributes }}>
  <button class="newsletter-close" id="closeNewsletter">
    {% render 'icon-close' %}
    <span class="visually-hidden">Close</span>
  </button>
  <div class="page-width">
    <div class="mini-newsletter__wrapper">
      <h2 class="h1 small-hide medium-hide">{{ settings.newsletter_title }}</h2>
      <div class="mini-newsletter__form">
        {% render 'mini-newsletter', klaviyo: settings.klaviyo, klaviyo_snippet: settings.klaviyo_snippet, klaviyo_snippet_m: settings.klaviyo_snippet_m %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const newsletterBar = document.getElementById('shopify-section-newsletter-bar');
    document.getElementById('closeNewsletter').addEventListener('click', function (){
      newsletterBar.classList.remove('show');
      document.body.classList.remove('mini-newsletter-active');
    })
    setTimeout(function (){
      document.body.classList.add('mini-newsletter-active');
      newsletterBar.classList.add('show')
    }, 4000)
  });
</script>
