{{ 'section-page-header.css' | asset_url | stylesheet_tag }}
<div class="page-width no-hidden">
  <div class="page-header__wrapper">
    <div class="page-header__content">
      {% if section.settings.title != blank %}
        <h1 class="h1 extra uppercase">{{ section.settings.title }}</h1>
      {% else %}
        <h1 class="h1 extra uppercase">{{ page.title | upcase }}</h1>
      {% endif %}
    </div>
    <div class="page-header__image">
      <div class="page-header__image-media ">
        {% if section.settings.image != blank %}
          <img
              srcset="{%- if section.settings.image.width >= 275 -%}{{ section.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                    {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                    {%- if section.settings.image.width >= 710 -%}{{ section.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                    {%- if section.settings.image.width >= 1420 -%}{{ section.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                    {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
              src="{{ section.settings.image | img_url: '550x' }}"
              sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                    (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                    calc(100vw - 30px)"
              alt="{{ section.settings.image.alt }}"
              {% if section.settings.image_mobile != blank %}class="small-hide medium-hide" {% endif %}
              height="{{ section.settings.image.height }}"
              width="{{ section.settings.image.width }}"
              loading="lazy"
          >
        {% endif %}
        {% if section.settings.image_mobile != blank %}
          {% assign img_mobile = section.settings.image_mobile %}
          <img
              srcset="{%- if img_mobile.width >= 375 -%}{{ img_mobile | img_url: '375x' }} 375w,{%- endif -%}
                      {%- if img_mobile.width >= 750 -%}{{ img_mobile | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if img_mobile.width >= 1100 -%}{{ img_mobile | img_url: '1100x' }} 1100w,{%- endif -%}"
              sizes="(min-width: 60rem) 80vw, 100vw"
              src="{{ img_mobile | img_url: '1500x' }}"
              loading="lazy"
              alt="{{ img_mobile.alt | escape }}"
              width="{{ img_mobile.width }}"
              class="large-up-hide"
              height="{{ img_mobile.width | divided_by: img_mobile.aspect_ratio }}"
          >
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page-headers.name",
  "class": "page-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.page-headers.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.page-headers.settings.image_mobile.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.page-headers.settings.title.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page-headers.presets.name"
    }
  ]
}
{% endschema %}
