<div class="pages style-guide">
  <div class="page-width">
    <div class="rte">
      {{ page.content }}

      <div class="field">
        <input class="field__input" type="text" id="input"  value="With Focus and Value Entered">
        <label class="field__label visually-hidden" for="input"></label>
      </div>
      <div class="field">
        <input class="field__input" type="text" id="input_"  value="Mandatory Label *" required>
        <label class="field__label visually-hidden" for="input_"></label>
      </div>
      <div class="field field--with-error">
        <input class="field__input" type="text" id="input__"  value="Error">
        <label class="field__label visually-hidden" for="input__"></label>
      </div>
      <button type="submit" class="button">send</button>
    </div>
  </div>
</div>
