<script>
  document.addEventListener("DOMContentLoaded", function() {
    let rellaxH = new Rellax('.ticker-inner.rellax_h', {
      horizontal: true
    });

    function offset(el) {
      let rect = el.getBoundingClientRect(),
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
        scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
    }

    let ticker = document.getElementById('ticker');
    console.log(window.screen.width);
    let corrector = window.screen.width > 750 ? 5 : 1;
    let topMinus = Math.round(offset(ticker).top / corrector)
    let tickerCorrection = document.getElementById('ticker-correction');
    tickerCorrection.style.marginLeft = '-'+topMinus+'px';
  });
</script>

<div class="ticker-wrapper" id="ticker">
  <div id="ticker-correction">
    <div class="ticker-inner rellax_h" data-rellax-vertical-speed="0" data-rellax-percentage="0.5" data-rellax-horizontal-xs-speed="-20" data-rellax-horizontal-speed="-10" data-rellax-vertical-scroll-axis="x">
      <h2>
        {%- for i in (1..5) -%}
          <span class="ticker-text-{{ i }}">{{ section.settings.title }}</span>
        {% endfor %}
      </h2>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.ticker.name",
  "tag": "section",
  "class": "spaced-section ticker spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.ticker.settings.title.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.ticker.presets.name"
    }
  ]
}
  {% endschema %}
