{% liquid
  if section.settings.video_mobile != blank
    assign video_mobile = true
    assign video_link_mobile = section.settings.video_mobile
  endif
  if section.settings.video != blank
    assign video = true
    assign video_link = section.settings.video
  endif

  assign img = section.settings.image
  assign img_mobile = section.settings.image_mobile

%}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var rellax = new Rellax('.parallax-{{ section.id }} .rellax');
    var rellaxH = new Rellax('.parallax-{{ section.id }} .rellax_h', {
      horizontal: true,
      relativeToWrapper: true,
      wrapper: "#shopify-section-{{ section.id }}"
    });
  });
</script>

<div id="Video-banner-{{ section.id }}" class="video-banner parallax-{{ section.id }} color-{{ section.settings.color_scheme }}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'read_more' -%}
        <a class="learn-more--container {{ block.settings.position }}" href="{{ block.settings.button_link }}">
          <span class="arrow">
            {% render 'icon-long-arrow' %}
          </span>
          <img src="{{ 'learn-more.svg' | asset_url }}" class="{% if block.settings.rotating %}hover-rotating{% else %}rotating{% endif %}">
        </a>
      {%- when 'svg' -%}
        <div class="svg-container {{ block.settings.position }}">
          <img {% if block.settings.rotating %}class="rotating"{% endif %}
               src="{{ block.settings.logo | file_url }}"
               alt="{{ block.settings.alt | escape }}"
               loading="lazy"
          >
        </div>
    {% endcase %}
  {% endfor %}
  <div class="page-width">
    {%- if img != blank -%}
      <div class="video__media {% if img == blank  %} placeholder{% endif %}">
        {% if video %}
          <video-wrapper>
            {% if video_link != blank and video_link_mobile != blank %}
              <video playsinline autoplay loop muted
                     {% if img %}aria-label="{{ img.alt }}" poster="{{ img | img_url: '1780x' }}" {% endif %}
                     class="small-hide">
                <source data-desktop-src="{{ video_link }}" src="" type="video/mp4">
                <img src="{{ img | img_url: '1780x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
              </video>
            {% endif %}
            {% if video_link_mobile != blank %}
              <video playsinline autoplay loop muted
                     {% if img %}aria-label="{{ img_mobile.alt }}" poster="{{ img_mobile | img_url: '750x' }}" {% endif %}
                     class="medium-hide large-up-hide">
                <source data-mobile-src="{{ video_link_mobile }}" src="" type="video/mp4">
                <img src="{{ img_mobile | img_url: '750x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
              </video>
            {% endif %}
            {% if video_link != blank and video_link_mobile == blank %}
              <video playsinline autoplay loop muted
                     {% if img %}aria-label="{{ img.alt }}" poster="{{ img | img_url: '1780x' }}" {% endif %}
                     class="video-all">
                <source data-src="{{ video_link }}" src="" type="video/mp4">
                <img src="{{ img | img_url: '1780x' }}" loading="lazy" width="{{ img.width }}" height="{{ img.height }}">
              </video>
            {% endif %}
          </video-wrapper>
        {% endif %}
        {% if video == blank %}
          <img
              srcset="{%- if img.width >= 375 -%}{{ img | img_url: '375x' }} 375w,{%- endif -%}
            {%- if img.width >= 750 -%}{{ img | img_url: '750x' }} 750w,{%- endif -%}
            {%- if img.width >= 1100 -%}{{ img | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if img.width >= 1500 -%}{{ img | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if img.width >= 1780 -%}{{ img | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if img.width >= 2000 -%}{{ img | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if img.width >= 3000 -%}{{ img | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if img.width >= 3840 -%}{{ img | img_url: '3840x' }} 3840w,{%- endif -%}"
              sizes="(min-width: 750px) 50vw, 100vw"
              src="{{ img | img_url: '1900x' }}"
              loading="lazy"
              {% if img_mobile != blank %}class="small-hide medium-hide" {% endif %}
              alt="{{ img.alt | escape }}"
              width="{{ img.width }}"
              height="{{ img.width | divided_by: img.aspect_ratio }}"
          >
        {% endif %}
        {% if video == blank and video_mobile == blank %}
          {% if img_mobile != blank %}
            <img
                srcset="{%- if img_mobile.width >= 375 -%}{{ img_mobile | img_url: '375x' }} 375w,{%- endif -%}
              {%- if img_mobile.width >= 750 -%}{{ img_mobile | img_url: '750x' }} 750w,{%- endif -%}
              {%- if img_mobile.width >= 1100 -%}{{ img_mobile | img_url: '1100x' }} 1100w,{%- endif -%}"
                sizes="(min-width: 60rem) 80vw, 100vw"
                src="{{ img_mobile | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ img_mobile.alt | escape }}"
                width="{{ img_mobile.width }}"
                class="large-up-hide"
                height="{{ img_mobile.width | divided_by: img_mobile.aspect_ratio }}"
            >
          {% endif %}
        {% endif %}
      </div>
    {%- endif -%}
  </div>
  <div class="rellax colored-block gradient small-hide" data-rellax-speed="2" data-rellax-percentage="1" {% if section.settings.color_overwrite != blank %}style="background:{{ section.settings.color_overwrite }};" {% endif %} ></div>
  <div class="rellax_h colored-block gradient medium-hide large-up-hide"  data-rellax-vertical-speed="0" data-rellax-percentage="0.5" data-rellax-horizontal-speed="-2" data-rellax-vertical-scroll-axis="x" {% if section.settings.color_overwrite != blank %}style="background:{{ section.settings.color_overwrite }};" {% endif %}></div>
</div>
{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "t:sections.video-banner.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.video-banner.settings.image.label",
      "info": "t:sections.video-banner.settings.image.info"
    },
    {
      "type": "text",
      "id": "video",
      "label": "t:sections.video-banner.settings.video.label",
      "info": "t:sections.video-banner.settings.video.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.video-banner.settings.image_mobile.label",
      "info": "t:sections.video-banner.settings.image_mobile.info"
    },
    {
      "type": "text",
      "id": "video_mobile",
      "label": "t:sections.video-banner.settings.video_mobile.label",
      "info": "t:sections.video-banner.settings.video_mobile.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.video-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.video-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.video-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.video-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.video-banner.settings.color_scheme.options__5.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.video-banner.settings.color_scheme.options__6.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.video-banner.settings.color_scheme.label"
    },
    {
      "type": "color",
      "id": "color_overwrite",
      "label": "t:sections.video-banner.settings.color_overwrite.label",
      "info": "t:sections.video-banner.settings.color_overwrite.info"
    }
  ],
  "blocks": [
    {
      "type": "svg",
      "name": "t:sections.video-banner.blocks.svg.name",
      "settings": [
        {
          "type": "text",
          "id": "logo",
          "info": "t:sections.video-banner.blocks.svg.settings.text.info",
          "label": "t:sections.video-banner.blocks.svg.settings.text.label"
        },
        {
          "type": "text",
          "id": "alt",
          "info": "t:sections.video-banner.blocks.svg.settings.alt.info",
          "label": "t:sections.video-banner.blocks.svg.settings.alt.label"
        },
        {
          "type": "checkbox",
          "id": "rotating",
          "info": "t:sections.video-banner.blocks.svg.settings.rotating.info",
          "label": "t:sections.video-banner.blocks.svg.settings.rotating.label"
        },
        {
          "type": "select",
          "id": "position",
          "options": [
            {
              "value": "top",
              "label": "t:sections.video-banner.blocks.svg.settings.position.options__1.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.video-banner.blocks.svg.settings.position.options__2.label"
            }
          ],
          "default": "top",
          "label": "t:sections.video-banner.blocks.svg.settings.position.label"
        }
      ]
    },
    {
      "type": "read_more",
      "name": "t:sections.video-banner.blocks.read_more.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "rotating",
          "label": "t:sections.video-banner.blocks.read_more.settings.rotating.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.video-banner.blocks.read_more.settings.url.label"
        },
        {
          "type": "select",
          "id": "position",
          "options": [
            {
              "value": "top",
              "label": "t:sections.video-banner.blocks.read_more.settings.position.options__1.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.video-banner.blocks.read_more.settings.position.options__2.label"
            }
          ],
          "default": "top",
          "label": "t:sections.video-banner.blocks.read_more.settings.position.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video-banner.presets.name"
    }
  ]
}
{% endschema %}
