.image-with-text {
  margin-top: 5rem;
}

.image-with-text:not(.color-scheme-background-1) {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text {
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

.image-with-text .grid {
  margin-left: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  background-color: transparent;
  min-height: 100%;
  z-index: 5;
}
.parallax .image-with-text__media {
  margin-bottom: -40px;
}
@media screen and (min-width: 750px) {
  .parallax .image-with-text__media {
    margin-bottom: 0;
  }
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  padding: 8rem 2rem 10rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 750px) {
  .image-with-text__content {
    align-items: flex-end;
  }
}
.image-with-text__grid--reverse .image-with-text__content {
  align-items: flex-start;
}

.image-with-text__content:after {
  position: absolute;
  left: 0;
  content: "";
  height: 685px;
  width: 910px;
  top: 10%;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .parallax .image-with-text__content {
    padding: 12rem 6rem;
  }
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 7rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 2rem;
  color: rgb(var(--color-foreground));
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading) {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading) {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-bottom: 0;
  position: relative;
}
.image-with-text__text {
  margin-bottom: 1rem;
}
.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .image-with-text__text, .image-with-text__heading:not(.extra) {
    width: 66%;
  }
}


.image-with-quotes__container, .image-with-quotes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.image-with-quotes__media.media .video-frame, .image-with-quotes__media.media {
  max-width: 515px;
  min-width: 334px;
  height: 100%;
  width: 100%;
}

.image-with-quotes__text {
  font-size: 1.6rem;
}

.image-with-quotes__media.media>:not(.zoom):not(.deferred-media__poster-button) img {
  position: relative;
}

.image-with-quotes__media.media>:not(.zoom):not(.deferred-media__poster-button) {
 position: relative;
}

.image-with-quotes__content {
  margin-top: 4rem;
}
@media screen and (min-width: 750px) {
  .image-with-quotes__content {
    max-width: 80%;
  }
}

.parallax .media .image-not-centered img, .parallax .media .image-centered img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 750px) {
  .parallax .image-with-text__media {
    position: relative;
  }
  .parallax .media {
    overflow: visible;
  }
  .parallax .media .image-not-centered{
    display: block;
    justify-content: center;
    position: absolute;
    top: 0;
    width: auto;
    max-width: none;
    right: -33%;
    left: 0;
  }
  .parallax .image-with-text__grid--reverse .media .image-not-centered{
    left: -33%;
    right: 0;
  }
}

.parallax .media .image-centered{
  display: block;
  justify-content: center;
  position: absolute;
  top: 0;
  width: auto;
  max-width: none;
  left: 0;
  right: 0;
}

.block-background:empty {
  display: block;
  height: 100%;
  z-index: 1;
  left: -33%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.parallax .image-with-text__grid--reverse .block-background:empty {
  right: -33%;
  left: 0;
}

.image-with-quotes__heading {
  color: rgb(var(--color-base-accent-1));
  margin: 0 0 1.5rem;
}

.image-with-quotes__heading p {
  margin: 0;
}
.four-pic-collage__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
}

@media screen and (min-width: 750px) {
  .four-pic-collage__container {
    grid-template-columns: 1fr 2fr;
  }
}

.four-pic-collage__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.content-sticky {
  flex: 1;
}
.content-sticky .inline-text {
  writing-mode: vertical-lr;
  top: 70px;
  margin: 0;
  padding: 0;
}
.sticky {
  position: sticky;
}

.four-pic-collage__content .legend-text {
  color: rgb(var(--color-base-accent-1));
}

@media screen and (min-width: 750px) {
  .four-pic-collage__heading {
    margin-bottom: 0;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

.four-pic-collage__content-mob {
  width: 100%;
  text-align: center;
}

.four-pic-collage__content-mob .legend-text {
  color: rgb(var(--color-base-accent-1));
}

.four-pic-collage__media.media>:not(.zoom):not(.deferred-media__poster-button)  {
  position: relative;
  padding: 0;
}

.four-pic-collage__media.media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .four-pic-collage__images {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 749px) {
  .four-pic-collage__images .grid__item {
    width: 100%;
    max-width: 100%;
    padding-bottom: 2rem;
  }
}
