.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
.checkbox-holder {
  color: rgb(var(--color-foreground));
  margin-top: 2rem;

}
.checkbox-holder input{
  margin-right: 10px;
}
.checkbox-holder label{
  display: flex;
  line-height: 20px;
  text-align: left;
  font-size: 1.3rem;
}
@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin-top: 4rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.newsletter-form__field-wrapper .phone-action .field {
  flex: 1 100%;
  padding-right: 1.5rem;
}
.newsletter-form__field-wrapper .phone-action{
  flex: 1 0 59%;
  display: flex;
  justify-content: end;
}
.newsletter-form__field-wrapper .phone-action .actions{
  flex: 1;
}
.newsletter-form__field-wrapper > .field {
  margin-bottom: 1.5rem;
  flex: 1 0 41%;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__field-wrapper {
    flex-direction: row;
  }
  .newsletter-form__field-wrapper .field {
    padding-right: 1.5rem;
    margin-bottom: 0;
  }
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.newsletter-form input,
.newsletter-form .go279655050,
.newsletter-form .go3479150848,
.newsletter-form .go2048667253 {
  border-radius: 25px !important;
}
.newsletter-form #downshift-0-menu, .newsletter-form #downshift-1-menu , .newsletter-form #downshift-2-menu , .newsletter-form #downshift-3-menu {
  background: rgb(var(--color-base-accent-1)) !important;
}
.footer .newsletter-form input::placeholder {
  color: rgb(var(--color-base-accent-1)) !important;
}
.footer .newsletter-form input {
  color: rgb(var(--color-base-accent-1)) !important;
}
.footer .newsletter-form input, .footer .newsletter-form .needsclick{
  border-color: rgb(var(--color-base-accent-1)) !important;
}
.newsletter-form button {
  font-family: var(--font-heading-family) !important;
  font-weight: var(--font-heading-weight) !important;
}
.footer .newsletter-form svg {
  fill: rgb(var(--color-base-accent-1)) !important;
}
.footer .newsletter-form button {
  color: white !important;
  background: rgb(var(--color-base-accent-1)) !important;
}
.footer .newsletter-form p span, .footer .newsletter-form p, .footer .newsletter-form p strong, .ql-font-poppins{
  color: rgb(var(--color-base-accent-1)) !important;
}
@media screen and (max-width: 749px) {
  .klaviyo-form {
    max-width: 335px;
  }
}
.newsletter-mini {
  position: relative;
}
.newsletter-close {
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 3px;
  cursor: pointer;
}
@media screen and (min-width: 750px) {
  .newsletter-close {
    top: 10px;
    right: 10px;
  }
}
.newsletter-close svg{
  height: 1.8rem;
  width: 1.8rem;
}
.klaviyo-form {
  width: 100%;
}
