.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accordion__title-wrapper span {
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(var(--color-base-accent-1));
  margin-right: 1rem;
  display: inline-block;
}

.accordion__title {
  min-height: 1.6rem;
  margin: 0;
  text-transform: uppercase;
  color: rgb(var(--color-base-accent-1));
  display: flex;
  align-items: center;
  line-height: 1.2;
  font-size: 1.8rem;
}

@media screen and (min-width: 750px) {
  .accordion__title {
    font-size: 2.4rem;
  }
}

.icon-accordion {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}

.accordion details > summary .icon-minus, .accordion details[open] > summary .icon-plus {
  display: none;
}
.accordion details[open] > summary .icon-minus {
  display: inline;
}

.accordion .qa ul {
  padding: 0;
}

.accordion .rte {
  padding: 0 0 0 2.5rem;
  margin-bottom: 20px;
}

.accordion .rte p a {
  color: rgb(var(--color-base-accent-1));
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  font-size: 1.6rem;
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.accordion__content img {
  max-width: 100%;
}
