.pagination-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .pagination-wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 3.5rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-base-accent-1));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.5rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid rgb(var(--color-base-accent-1));
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-heading-weight);
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 1rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current {
  color: white;
  border: 1px solid rgb(var(--color-base-accent-1));
  background-color: rgb(var(--color-base-accent-1));
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  margin-top: 0.05rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__list>li.pagination--prev{
  max-width: fit-content;
}

.pagination__item--prev {
  border-radius: 3rem;
  padding: 0.9rem 1.6rem;
  text-transform: uppercase;
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  margin-top: 0.05rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
