.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.newsletter__wrapper:not(.color-background-1) {
  padding-top: 0;
  padding-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .newsletter--narrow .newsletter__wrapper,
  .newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}
.newsletter__wrapper .h1 {
  margin-top: 0;
}
.newsletter__subheading {
  color: rgb(var(--color-foreground));
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

#shopify-section-newsletter-bar {
  position: fixed;
  bottom: -350px;
  transition: all 0.5s 0s ease;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}
@media screen and (min-width: 750px) {
  #shopify-section-newsletter-bar {
    bottom: -190px;
  }
}
#shopify-section-newsletter-bar.show {
  bottom: 0;
}

.mini-newsletter-active .footer__content-top {
  padding-bottom: 340px;
}

@media screen and (min-width: 750px) {
  .mini-newsletter-active .footer__content-top {
    padding-bottom: 230px;
  }
}


@media screen and (min-width: 990px) {
  .newsletter-mini .mini-newsletter__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.newsletter-mini .mini-newsletter__wrapper h2 {
  padding: 20px 0 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 20px;
}

@media screen and (min-width: 750px) {
  .newsletter-mini .mini-newsletter__wrapper h2 {
    padding: 0;
    margin: 0 50px 0 0;
    font-size: 1.8rem;
  }
}

.newsletter-mini .mini-newsletter__wrapper .mini-newsletter__form {
  flex: 1;
}

.mini-newsletter__form .field input, .mini-newsletter__form .actions button {
  max-height: 33px;
  min-height: 33px;
}

@media screen and (min-width: 750px) {
  .mini-newsletter__form .field input, .mini-newsletter__form .actions button {
    max-height: 4rem;
    min-height: 4rem;
  }
}

.newsletter-mini .mini-newsletter__wrapper .newsletter-form {
  padding: 35px 0 16px 0;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .newsletter-mini .mini-newsletter__wrapper .newsletter-form {
    padding: 16px 0;
  }
}
