@media screen and (max-width: 749px) {
  .main-page .rte {
    padding: 0 !important;
  }
}

.page-content .rte {
  padding: 0 2rem;
  margin-bottom: 5rem;
  line-height: 20px;
}

@media screen and (min-width: 750px) {
  .page-content .rte {
    padding: 0 18%;
    margin-bottom: 9.5rem;
  }
}

.icon-accordion {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}

@media screen and (min-width: 990px) and (max-width: 1400px) {
  .page-header__content .h1 {
    font-size: 11rem;
  }
}
