
.contact h2 {
  text-transform: uppercase;
  color: rgb(var(--color-base-accent-1));
  margin-top: 0;
  text-align: center;
}

.contact .rte {
  margin-bottom: 2.5rem;
  text-align: center;
}

.contact .field {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 750px) {

  .contact .rte {
    margin-bottom: 5rem;
  }

  .contact .contact__wrapper {
    padding: 0 18%;
  }

  .contact .field {
    margin-bottom: 4rem;
  }
}
.field input::placeholder, .field textarea::placeholder  {
  color: var(--color-base-accent-1);
}

.field textarea {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  padding: 1.7rem 2.7rem;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}


.contact__button, .contact__button button {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
