.video__media img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.video__media {
  position: relative;
  z-index: 4;
}
.video__media video-wrapper {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 749px) {
  .video-banner {
    overflow-x: hidden;
    width: 100vw;
    padding-bottom: 17rem;
  }
}
.video-banner {
  position: relative;
}
.video-banner div:empty {
  display: block;
}
.colored-block {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 35%;
  margin-bottom: 7rem;
}
.learn-more--container .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
  width: 35px;
  height: auto;
  z-index: 6;
}
.learn-more--container {
  position: absolute;
  color: white;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.learn-more--container img{
  width: 120px;
  height: auto;
  position: relative;
  z-index: 5;
}


@media screen and (min-width: 750px) {
  .learn-more--container .arrow {
    transform: translate(-50%, -50%);
  }
  .colored-block {
    margin-top: 0;
    margin-bottom: 0;
  }
  .video-banner {
    margin-top: 20rem;
    margin-bottom: 0;
  }
  .learn-more--container {
    transform: translate(-50%, -50%);
  }
  .learn-more--container img{
    width: 180px;
  }
  .learn-more--container.top {
    top: 0;
    bottom: auto;
  }
}
.video-banner .svg-container {
  left: 50%;
  z-index: 5;
  bottom: -220px;
  transform: translate(-50%,0);
}
