.page-header {
  overflow: hidden;
}

.page-header__content {
  width: 100%;
  text-align: center;
}
.page-header__content .h1 {
  color: rgb(var(--color-base-accent-1));
  margin: 3rem 0;
}
.page-header__image {
  width: 100%;
}
.page-header__image-media img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 550px;
  border-left: 1px solid rgb(var(--color-base-accent-1));
}

.page-header__image-media {
  line-height: 0;
}

@media screen and (max-width: 989px) {
  .page-header__image-media {
    margin: auto calc(-50vw + 50%);
    padding: 0 2rem;
    border-top: 1px solid rgb(var(--color-base-accent-1));
    border-bottom: 1px solid rgb(var(--color-base-accent-1));
  }

  .page-header__image-media img {
    border-right: 1px solid rgb(var(--color-base-accent-1));
    border-left: 1px solid rgb(var(--color-base-accent-1));
  }
}

@media screen and (min-width: 990px) {
  .page-header__content .h1 {
    margin: 0;
  }
  .page-header {
    border-bottom: 1px solid rgb(var(--color-base-accent-1));
  }
  .page-header__wrapper {
    display: flex;
    justify-content: center;
  }
  .page-header__image {
    width: 50%;
  }
  .page-header__image-media {
    margin: auto -5rem auto 0;
  }
  .page-header__content {
    width: 50%;
    align-items: center;
    display: flex;
  }
}
@media screen and (min-width: 990px) and (max-width: 1400px){
  .page-header__content .h1 {
    font-size: 12rem;
  }
}
@media screen and (min-width: 1600px) {
  .page-header__image-media {
    margin: auto -30% auto 0;
  }
}
