.blog-articles {
  display: grid;
  grid-gap: 3rem;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large {
    padding-bottom: 82.5rem;
  }
}
